@import '../mixins';

body{
    overflow-y: scroll;
    background-image: url('assets/images/Middle-Earth-Shadow-of-War-Details.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    @extend .card;
}
footer{
    background-color: $black;
    display: inline-block;
    @extend .full-width;
    @include pad-box(50px, 0px);
}
