<footer class="text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sec-cont">
                <div class="col-12 title">
                    <b>Join Our Newsletter</b>
                </div>
                <div class="col-12 desc">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control input-sm"
                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-12 title">
                    <b>Contact Us</b>
                </div>
                <div class="col-12 desc flex">
                    <div class="footer-icons">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="">
                        info@kenyagamers.com
                    </div>
                </div>
                <div class="col-12 desc flex">
                    <div class="footer-icons">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="">
                        +2547000002987
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-12 title">
                    <b>Connect with us</b>
                </div>
                <div class="col-12 desc">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/KenyaGamingDeals/?ref=br_rs"
                            target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x text-white"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x text-white"></i>
                            </span>
                        </li>
                        <li class="list-inline-item">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x text-white"></i>
                            </span>
                        </li>
                        <li class="list-inline-item">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x text-white"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap?
            <a href="../../">
                Visit the homepage
            </a>or read our <a href="../../getting-started/">getting started guide </a>.
        </p> -->
    </div>
</footer>
