@import '../../../../assets/scss/components/card';
@import '../../../../assets/scss/mixins';
@import '../../../../../node_modules/bootstrap/scss/bootstrap';


.flex-cont{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.courosel{
    margin-left: -15px;
    padding:2rem 0rem 4rem 0rem;
    @include border-radius(1px);
}

.courosel-cont{
    padding-top: 20px;
    margin-bottom: 50px;
}

.jumbotron{
    margin-bottom: 0px;
}

.album{
    display: inline-block;
    @extend .full-width;
    background: url(../../../../assets/images/Middle-Earth-Shadow-of-War-Details.jpg)
        center top no-repeat fixed #000 !important;
    .carousel-cont{
        width:100%;
        margin-top: 15px;
        display: inline-block;
        height:40rem !important;
        @extend .box-shadow;
        carousel{
            slide{
                .img-carousel{
                    @extend .full-width;
                    height: 38rem;
                }
                .img-cont{
                    @extend .full-width;
                }
            }
        }
    }
    .card {
        width: 33.333%;
        margin-bottom: 2rem;
        margin-right: 15px;
    }
}

