@import '../../../../assets/scss/components/card';
@import '../../../../assets/scss/mixins';

.card {
    width: 33.333%;
    margin-bottom: 2rem;
    margin-right: 15px;
}

.flex-cont{
    display: flex;
    align-items: center;
}

.courosel{
    margin-left: -15px;
    @include border-radius(1px);
}

.courosel-cont{
    padding-top: 20px;
    margin-bottom: 50px;
}

.album{
    display: inline-block;
    @extend .full-width;
    background-image: url('../../../../assets/images/for_honor.png');
    @include pad-box(100px,0);
    background-size: cover;
    background-repeat: no-repeat;
}

